.modal-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;

    background-color: rgba(4,9,17,0.8);
}

.modal-wrapper .modal {
    background-color: var(--white);
    margin: auto;
    width: min(90%, 59rem);
}